
.landing-main { 
    padding-top: 100px; 
}

.no-top-margin {
	margin-top: 0px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
}
.float-right {
	float:right;
}
.float-left {
	float: left;
}
.no-padding-left {
	padding-left: 0px;
}

.city-btn {
   text-align: right;
}
.dog-of-week {
	padding-top: 100px;
	padding-bottom: 100px;
}

.img-center = {
	margin: 0 auto;
}
.right-nav = {
    padding-right: 100px;
}

.px-24 {
    font-size: 24px
}
.px-42 {
    font-size: 50px
}
.hero-logo {

   width: 300px; 
   display: inline;
   border-right: 1px solid #ebeced;
   padding-right: 32px;
   margin-right: 32px;
}
.hero-line {
    display: inline-block;
   width: 436px; 
}


.center-div
{
     margin: 0px auto;
     width: 810px; 
}

@media (max-width: 660px) {
 .hero-logo {
   font-size: 42px;
   width: 50;
}
.hero-line {
    font-size: 18px
}
.center-div
{   
    width: 100%;
}

}

@media (min-width: 661px) {
 .hero-logo {
   display: inline;
   border-right: 1px solid #ebeced;
   font-size: 42px;
   width: 50;
}
.hero-line {
    display: inline-block;
    width: 50%;
    font-size: 20px
}
.center-div
{   
}

}
